---
# yaml-language-server: $schema=https://kubernetes-schemas.kashall.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: probe-2
  namespace: oneuptime
  annotations:
    reloader.stakater.com/auto: "true"
    secret.reloader.stakater.com/reload: "common-secrets,common-server-secrets"
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: probe-api
      namespace: oneuptime
  values:
    controller:
      strategy: RollingUpdate
    image:
      repository: ghcr.io/oneuptime/probe
      tag: 7.0.851
    env:
      PORT: &port 3500
    envFrom:
      - secretRef:
          name: common-server-secrets
      - secretRef:
          name: common-secrets
      - secretRef:
          name: probe-2-config
    service:
      main:
        ports:
          http:
            port: *port
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 500Mi

