---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: file
  namespace: oneuptime
  annotations:
    secret.reloader.stakater.com/reload: "common-secrets,common-server-secrets"
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      strategy: RollingUpdate
    image:
      repository: ghcr.io/oneuptime/file
      tag: 7.0.944
    env:
      PORT: &port 3125
    envFrom:
      - secretRef:
          name: common-server-secrets
      - secretRef:
          name: common-secrets
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: 50M
          external-dns.alpha.kubernetes.io/target: "border.ok8.sh"
        hosts:
          - host: &host "up.ok8.sh"
            paths:
              - path: /file
                pathType: Prefix
        tls:
          - hosts:
            - *host
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false
