#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./kubernetes/flux/main/kubeconfig):$(expand_path ./kubernetes/flux/storage/kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
