---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-dns-unifi
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns-unifi-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        UNIFI_USER: "{{ .UNIFI_WEBHOOK_USER }}"
        UNIFI_PASS: "{{ .UNIFI_WEBHOOK_PASS }}"
  dataFrom:
    - extract:
        key: external-dns
