---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mc-vanilla-gatus-ep
  namespace: minecraft
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: vanilla-minecraft
        group: internal
        url: tcp://vanilla-minecraft.default.svc.cluster.local:25565
        interval: 1m
        conditions:
          - "len([BODY]) == 0"
        alerts:
          - type: pushover
