---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: rtlamr2mqtt
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    annotations:
      reloader.stakater.com/auto: "true"
    image:
      repository: allangood/rtlamr2mqtt
      tag: 2.3.3
    service:
      main:
        enabled: false
    persistence:
      config-file:
        enabled: true
        type: secret
        name: rtlamr2mqtt-config
        defaultMode: 400
        subPath:
          - path: rtlamr2mqtt.yaml
            mountPath: /etc/rtlamr2mqtt.yaml
    securityContext:
      privileged: true
    nodeSelector:
      rtlamr.feature.node.kubernetes.io/rtlamr: "true"
    resources:
      requests:
        cpu: 100m
        memory: 36M
      limits:
        memory: 36M
