---
apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageUpdateAutomation
metadata:
  name: prismarine-controller
  namespace: flux-system
spec:
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: |
        Automated Image update:

        {{range .Updated.Images}}{{println .}}{{end}}
    push:
      branch: main
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  update:
    path: ./kubernetes/apps
    strategy: Setters
