---
# yaml-language-server: $schema=https://kubernetes-schemas.ok8.sh/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: rook-ceph
      version: v1.14.4
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: snapshot-controller
      namespace: volsync-system
  values:
    monitoring:
      enabled: true
    resources:
      requests:
        memory: 128Mi # unchangable
        cpu: 100m # unchangable
      limits: {}
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      enableLiveness: true
      serviceMonitor:
        enabled: true
      csiRBDProvisionerResource: |
        - name : csi-provisioner
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-resizer
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-attacher
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-snapshotter
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 512Mi
              cpu: 50m
            limits:
              memory: 2Gi
        - name : csi-omap-generator
          resource:
            requests:
              memory: 512Mi
              cpu: 50m
            limits:
              memory: 1Gi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
      csiCephFSProvisionerResource: |
        - name : csi-provisioner
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-resizer
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-attacher
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-snapshotter
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
        - name : csi-cephfsplugin
          resource:
            requests:
              memory: 512Mi
              cpu: 50m
            limits:
              memory: 1Gi
        - name : liveness-prometheus
          resource:
            requests:
              memory: 128Mi
              cpu: 25m
            limits:
              memory: 256Mi
