---
apiVersion: v1
kind: ConfigMap
metadata:
  name: zigbee2mqtt-gatus-ep
  namespace: default
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: zigbee2mqtt
        group: internal
        url: 1.1.1.1
        interval: 1m
        dns:
          query-name: zigbee.ok8.sh
          query-type: A
        conditions:
          - "len([BODY]) == 0"
        alerts:
          - type: pushover
