---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  - ./app-template.yaml
  # Flux-Kustomizations
  - ./acars/ks.yaml
  - ./copyparty/ks.yaml
  - ./glance/ks.yaml
  - ./home-assistant/ks.yaml
  - ./mosquitto/ks.yaml
  - ./openspeedtest/ks.yaml
  #- ./rtlamr2mqtt/ks.yaml
  - ./smtp-relay/ks.yaml
  - ./zigbee2mqtt/ks.yaml
