---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-webhooks
  namespace: flux-system
spec:
  path: ./kubernetes/apps/main/flux-system/addons/app
  targetNamespace: flux-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
