---
version: v1alpha1
debug: false
persist: true
machine:
  ca:
    crt: op://Kubernetes/talos/CERTS_OS_CRT
    key: op://Kubernetes/talos/CERTS_OS_KEY
  certSANs: ["127.0.0.1", "172.16.0.2"]
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      resolveMemberNames: true
      forwardKubeDNSToHost: false
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles: ["os:admin"]
      allowedKubernetesNamespaces: ["actions-runner-system", "system-upgrade"]
  files:
    - content: |-
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
      path: /etc/cri/conf.d/20-customization.part
      op: create
    - content: |-
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
      permissions: 420
      path: /etc/nfsmount.conf
      op: overwrite
  install:
    image: factory.talos.dev/metal-installer/f5b4219136c4be042f25ee55c87d3b45d639e671e58c4c95a227204883e2114b:{{ ENV.TALOS_VERSION }}
  kernel:
    modules:
      - name: nbd
      - name: thunderbolt
      - name: thunderbolt_net
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    image: ghcr.io/siderolabs/kubelet:{{ ENV.KUBERNETES_VERSION }}
    extraMounts:
      - destination: /var/mnt/extra
        type: bind
        source: /var/mnt/extra
        options: ["bind", "rshared", "rw"]
    nodeIP:
      validSubnets: ["172.16.0.0/24"]
  network:
    nameservers: ["172.16.0.1"]
    disableSearchDomain: true
  token: op://Kubernetes/talos/TRUSTDINFO_TOKEN
  sysctls:
    fs.inotify.max_user_watches: 1048576 # Watchdog
    fs.inotify.max_user_instances: 8192 # Watchdog
    net.core.default_qdisc: fq # 10Gb/s
    net.core.rmem_max: 67108864 # 10Gb/s | Cloudflared / QUIC
    net.core.wmem_max: 67108864 # 10Gb/s | Cloudflared / QUIC
    net.ipv4.tcp_congestion_control: bbr # 10Gb/s
    net.ipv4.tcp_fastopen: 3 # Send and accept data in the opening SYN packet
    net.ipv4.tcp_mtu_probing: 1 # 10Gb/s | Jumbo frames
    net.ipv4.tcp_rmem: 4096 87380 33554432 # 10Gb/s
    net.ipv4.tcp_wmem: 4096 65536 33554432 # 10Gb/s
    net.ipv4.tcp_window_scaling: 1 # 10Gb/s
    vm.nr_hugepages: 1024 # PostgreSQL
  sysfs:
    devices.system.cpu.intel_pstate.hwp_dynamic_boost: 1
    devices.system.cpu.cpu0.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu1.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu2.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu3.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu4.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu5.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu6.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu7.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu8.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu9.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu10.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu11.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu12.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu13.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu14.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu15.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu16.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu17.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu18.cpufreq.energy_performance_preference: balance_performance
    devices.system.cpu.cpu19.cpufreq.energy_performance_preference: balance_performance
  udev:
    rules:
      - ACTION=="add", SUBSYSTEM=="thunderbolt", ATTR{authorized}=="0", ATTR{authorized}="1" # Thunderbolt
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660" # Intel GPU
      - SUBSYSTEM=="usb", ATTR{idVendor}=="0bda", ATTR{idProduct}=="2838", ATTR{serial}=="00000001", SYMLINK+="rtl-sdr-1"
cluster:
  allowSchedulingOnControlPlanes: true
  aggregatorCA:
    crt: op://Kubernetes/talos/CERTS_K8SAGGREGATOR_CRT
    key: op://Kubernetes/talos/CERTS_K8SAGGREGATOR_KEY
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ ENV.KUBERNETES_VERSION }}
    certSANs: ["127.0.0.1", "172.16.0.2"]
    disablePodSecurityPolicy: true
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  ca:
    crt: op://Kubernetes/talos/CERTS_K8S_CRT
    key: op://Kubernetes/talos/CERTS_K8S_KEY
  controlPlane:
    endpoint: https://172.16.0.2:6443
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  coreDNS:
    disabled: true
  clusterName: main
  etcd:
    advertisedSubnets: ["172.16.0.0/24"]
    ca:
      crt: op://Kubernetes/talos/CERTS_ETCD_CRT
      key: op://Kubernetes/talos/CERTS_ETCD_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  extraManifests:
    - # renovate: datasource=github-releases depName=kubernetes-sigs/gateway-api
      https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.3.0/experimental-install.yaml
    - # renovate: datasource=github-releases depName=prometheus-operator/prometheus-operator
      https://github.com/prometheus-operator/prometheus-operator/releases/download/v0.82.2/stripped-down-crds.yaml
  id: op://Kubernetes/talos/CLUSTER_ID
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets: ["172.30.0.0/16"]
    serviceSubnets: ["172.31.0.0/16"]
  proxy:
    disabled: true
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
  secret: op://Kubernetes/talos/CLUSTER_SECRET
  secretboxEncryptionSecret: op://Kubernetes/talos/SECRETS_ENCRYPTIONSECRET
  serviceAccount:
    key: op://Kubernetes/talos/CERTS_KUBERNETES_SERVICEACCOUNT_KEY
  token: op://Kubernetes/talos/SECRETS_BOOTSTRAPTOKEN
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp2s0f0np0
rings:
  rx: 8160
  tx: 8160
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp2s0f1np1
rings:
  rx: 8160
  tx: 8160
---
apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: nut-client
configFiles:
  - content: |-
      MONITOR 172.16.0.3 1 slaveuser "op://Kubernetes/nut/NUT_PASSWORD" slave
      SHUTDOWNCMD "/sbin/poweroff"
    mountPath: /usr/local/etc/nut/upsmon.conf
