---
# yaml-language-server: $schema=https://kubernetes-schemas.kashall.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: notification
  namespace: oneuptime
  annotations:
    secret.reloader.stakater.com/reload: "common-secrets,common-server-secrets"
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: haraka
      namespace: oneuptime
  values:
    controller:
      strategy: RollingUpdate
    image:
      repository: ghcr.io/oneuptime/notification
      tag: 7.0.868
    env:
      PORT: &port 3191
    envFrom:
      - secretRef:
          name: common-server-secrets
      - secretRef:
          name: common-secrets
      - secretRef:
          name: notification-secret
    service:
      main:
        ports:
          http:
            port: *port
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "border.ok8.sh"
        hosts:
          - host: &host "up.ok8.sh"
            paths:
              - path: /notification
                pathType: Prefix
        tls:
          - hosts:
            - *host

