---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  #- ./prismarine-client/ks.yaml
  #- ./prismarine-controller/ks.yaml
  # - ./prismarine-wss/ks.yaml

