---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs-fran
provisioner: nfs.csi.k8s.io
parameters:
  server: "fran.outsideour.casa"
  share: /mnt/littleboi/kubernetes
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions:
  - nfsvers=4.1
  - nconnect=16
  - hard
  - noatime
