---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sunlight-server
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  values:
    controllers:
      sunlight:
        containers:
          app:
            image:
              repository: ghcr.io/kashalls/sunlight
              tag: main@sha256:fbf0931a8c29758a6a065f9d1ba9dc80b9ff82d185c6b3c8342b8266517ac95a
            args: ["-s"]
            probes:
              liveness: &probes
                enabled: false
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
#            resources:
#              requests:
#                cpu: 100M
#                memory: 512Mi
#              limits:
#                memory: 1G
    service:
      app:
        controller: sunlight
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: sun.ok8.sh
        ports:
          http:
            port: 8080

