{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "fran",
      "endpoint": "{{ .CLOUDFLARE_ACCOUNT_TAG }}.r2.cloudflarestorage.com",
      "accessKeyID": "{{ .AWS_ACCESS_KEY_ID }}",
      "secretAccessKey": "{{ .AWS_SECRET_ACCESS_KEY }}"
    }
  },
  "caching": {
    "cacheDirectory": "/app/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "fran.outsideour.casa",
  "username": "kashall",
  "description": "bottom of the rack nas",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
