#!/bin/sh
CONTAINER=haproxy

if podman container exists "$CONTAINER"; then
  podman start "$CONTAINER"
else
podman run -d --net=host --restart always \
  --name "$CONTAINER" \
  --hostname "$CONTAINER" \
  -v "/mnt/data/haproxy/:/usr/local/etc/haproxy/" \
  haproxy:latest
