# Kashall's Unifi Dream Machine Pro's HA-PROXY Configuration
# Brought to you by https://github.com/onedr0p/

global
    daemon
    stats                       socket ipv4@127.0.0.1:9999 level admin
    nbproc                      1
    nbthread                    1
    tune.ssl.default-dh-param   1024
    ssl-server-verify           none
    spread-checks               0
    tune.lua.maxmem             0
    log {{ SYSLOG_SERVER }}:514 local0 debug

defaults
    log global
    option redispatch -1
    timeout client 4h
    timeout connect 10s
    timeout server 4h
    retries 3
    default-server init-addr libc,last

resolvers homenetwork
    nameserver coredns {{ COREDNS_SERVER }}:53
    nameserver pihole {{ PIHOLE_SERVER }}:53

frontend k8s-master-server
    bind :6443 
    mode tcp
    default_backend k8s-pool-server
    timeout client 4h

backend k8s-pool-server
    # health check: k8s-health-apiserver
    option httpchk
    http-check send meth GET uri /healthz ver HTTP/1.1 hdr Host localhost
    mode tcp
    balance source
    # stickiness
    stick-table type ip size 50k expire 30m  
    stick on src
    # tuning options
    timeout connect 10s
    timeout server 4h
    server k8s-master-a-apiserver {{ K8S_MASTER_A }}:6443 check inter 2s port 6443 check-ssl verify none resolvers homenetwork

listen local_statistics
    bind 127.0.0.1:8822
    mode http
    stats uri /haproxy?stats
    stats realm HAProxy\ statistics
    stats admin if TRUE

listen remote_statistics
    bind :8844
    mode http
    stats uri /haproxy?stats
    stats hide-version